#{extends 'main.html' /}
#{set title:'SLiPP :: sustainable life, programming, programmer' /}

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<ul>		
			<li id="license" class="section">
				<h2>라이센스</h2>
				소스 코드에 대한 라이센스는 아직까지 특별히 고민한 정책이 없다.
				이 소스 코드에 적합하리라 생각하는 라이센스가 있으면 제안해 주면 좋겠다.<br/>
			</li>
			<li id="issue" class="section">
				<h2>기능제안 및 버그신고</h2>
				slipp.net을 사용하는 중 새로운 기능을 제공, 기존 기능에 대한 개선, 버그가 있다면 
				<a href="https://github.com/javajigi/slipp/issues">SLiPP github</a>에 남길 수 있다.
			</li>
			<li id="source" class="section">
				<h2>소스코드 다운로드</h2>
				slipp.net은 두 개의 프로젝트로 구성되어 있어 있다.<br/>
				www.slipp.net을 서비스하는 메인 프로젝트와 파일의 업로드를 담당하는 attaches.slipp.net이다.<br/>
				<h4>www.slipp.net&nbsp;(<a href="https://github.com/javajigi/slipp">https://github.com/javajigi/slipp</a>)</h4>
				git clone git@github.com:javajigi/slipp.git<br/>
				<h4>attaches.slipp.net&nbsp;(<a href="https://github.com/javajigi/slipp-uploader">https://github.com/javajigi/slipp-uploader</a>)</h4>
				git clone git@github.com:javajigi/slipp-uploader.git<br/><br/>
				
				현재 서비스하고 있는 slipp.net은 google app engine + play framework로 구성되어 있다.<br/>
				이전 버전은 google app engine + spring framework + objectify framework로 구성되어 있다.<br/>
				이 소스는 다음 저장소에서 다운로드 받을 수 있다.<br/>
				<h4>slipp.net 최초 소스&nbsp;(<a href="https://github.com/javajigi/slipp-spring">https://github.com/javajigi/slipp-spring</a>)</h4>
				git clone git@github.com:javajigi/slipp-spring.git
			</li>
			<li id="test" class="section">
				<h2>데모 및 테스트</h2>
				slipp.net은 개발과 운영을 분리해서 운영하고 있다.<br/>
				현재 개발되고 있는 slipp.net은 <a href="http://dev.slipp.net">http://dev.slipp.net</a>에서 확인할 수 있다.<br/>
				<a href="http://dev.slipp.net">http://dev.slipp.net</a>은 개발 및 테스트를 위한 목적이기 때문에 부담을 가지지 않고 마음껏 테스트를 해도 된다.
			</li>
		</ul>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li><a href="/code#license">라이센스</a></li>
			<li><a href="/code#license">기능제안 및 버그신고</a></li>
			<li><a href="/code#source">소스코드 다운로드</a></li>
			<li><a href="/code#test">데모 및 테스트</a></li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->