<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>SLiPP QUnit Test Suite</title>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/boards.css'}">
</head>
<body>
<div class="forumList">
	<div class="forum"  >
		<div class="list">
			<a href="/community/free/55521?pager.page=1">
				<strong class="subject">사실 이건 이렇고 저것이 저런데 어떻게 하면 좋을까요?</strong>
			</a>
			<div class="count">
				<span class="tags"><strong>java</strong><strong>javascript</strong></span>
				<span class="countAnswer">답변수 <strong>7</strong></span>
			</div>
		</div>
		<div class="nickArea">와쿠쿠</div>
		<div class="regDate">8분 전</div>
	</div>
	<div class="forum"  >
		<div class="list">
			<a href="/community/free/55521?pager.page=1">
				<strong class="subject">정말 이런 건 항상 고민이야..</strong>
			</a>
			<div class="count">
				<span class="tags"><strong>java</strong><strong>javascript</strong></span>
				<span class="countAnswer">답변수 <strong>7</strong></span>
			</div>
		</div>
		<div class="nickArea">와쿠쿠</div>
		<div class="regDate">2011-07-11 15:24</div>
	</div>
	<div class="forum"  >
		<div class="list">
			<a href="/community/free/55521?pager.page=1">
				<strong class="subject">나 어떻게 하지?</strong>
			</a>
			<div class="count">
				<span class="tags"><strong>java</strong><strong>자바</strong></span>
				<span class="countAnswer">답변수 <strong>7</strong></span>
			</div>
		</div>
		<div class="nickArea">와쿠쿠</div>
		<div class="regDate">2011-07-11 15:24</div>
	</div>		
</div>
</body>
</html>
