<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>SLiPP QUnit Test Suite</title>
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/boards.css'}">
</head>
<body>
<!-- 게시판 보기 -->
<div class="forumView">
	<div class="nickArea"> 
		<p class='nick'>츠바사</p>
		<p class="regDate">4분 전</p> 
	</div>
	<div class="cont">
		<strong class="subject">서울 당첨문자 왓습니다</strong>
		<div id="content">
		<!-- 동적영역 -->
		<p>이히히힣ㅎㅎㅎ</p><p>&nbsp;</p><p>서울서 뵈요</p>
		<!-- //동적영역 -->
		</div>
	</div>
</div>
<div class="follow">
	<p class="tags"><strong>java</strong><strong>javascript</strong></p>
	<p class="count"><span  class="answerNum">답변수 <strong>1</strong></span></p>
</div>

<div class="comment">
	<div class="commentList">
		<div class="list">
			<div class="cont">넥슨의 물주가 새로 왔습니다.<br/>
			음하하하.
			이건 또 뭐시기야.
			</div>
		</div>
		<div class="user-info">
			<div class="user-nickname">박재성</div>
			<div class="user-action-time">4분전</div>
		</div>
	</div>
	<div class="commentList">
		<div class="list">
			<div class="cont">난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			<br/><br/>
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			<br/><br/>
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			</div>
		</div>
		<div class="user-info">
			<div class="user-nickname">박재성</div>
			<div class="user-action-time">2시간 전</div>
		</div>		
	</div>
	<div class="commentList">
		<div class="list">
			<div class="cont">난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			<br/><br/>
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			<br/><br/>
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			난 정말 이런 스타일 좋아하지 않아요. 난 정말 이런 스타일 좋아하지 않아요.
			</div>
		</div>
		<div class="user-info">
			<div class="user-nickname">박재성</div>
			<div class="user-action-time">2011-07-11 11:15</div>
		</div>		
	</div>			
</div>
</body>
</html>
